<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Admin</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Administración</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Administracion</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div id="sum_box" class="row mbl">
                <div class="col-sm-12 col-md-12">
                    <div class="portlet box">
                        <div class="portlet-header">
                            <div class="caption"><h4 class="box-heading">Añadir película</h4></div>
                        </div>
                        <div class="portlet-body">
                            <div class="row mbl">
                                <div class="col-lg-12">
                                    <div class="mbl"></div>
                                    <form action="#" class="form-horizontal">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group"><label class="col-sm-3 control-label">Titulo</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><input type="email" placeholder="email@yourcompany.com" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Categoría</label>

                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Descripcion</label>

                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><textarea rows="3" class="form-control"></textarea></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-group"><label class="col-sm-3 control-label">Etiquetas</label>

                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Link BSO</label>

                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="form-group"><label class="col-sm-3 control-label">Link Trailer</label>

                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Carátula</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">#</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="alert alert-success"><strong>Positivo</strong></div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Critica</label>

                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><textarea rows="3" class="form-control"></textarea></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Autor</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="alert alert-danger"><strong>Negativo</strong></div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Critica</label>

                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><textarea rows="3" class="form-control"></textarea></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Autor</label>
                                                    <div class="col-sm-9 controls">
                                                        <div class="row">
                                                            <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <hr>
                                    <button type="submit" class="btn btn-green btn-block">Añadir</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-general">
            <div id="sum_box" class="row mbl">
                <div class="col-sm-12 col-md-12">
                    <div class="portlet box">
                        <div class="portlet-header">
                            <div class="caption"><h4 class="box-heading">Hastags</h4></div>
                        </div>
                        <div class="portlet-body">
                            <div class="row mbl">
                                <div class="col-lg-12">
                                    <div class="mbl"></div>
                                        <form action="#" class="form-horizontal">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group"><label class="col-sm-3 control-label"><span class="label label-red">#HOT</span></label>
                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label"><span class="label label-orange">#TEMPERED</span></label>
                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label"><span class="label label-green">#COLD</span></label>
                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label"><span class="label label-grey">#FROZEN</span></label>
                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">#PELICULA</label>
                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group"><label class="col-sm-3 control-label">Detalle</label>
                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Detalle</label>
                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Detalle</label>
                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Detalle</label>
                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="form-group"><label class="col-sm-3 control-label">Detalle</label>
                                                <div class="col-sm-9 controls">
                                                    <div class="row">
                                                        <div class="col-xs-9"><input type="text" placeholder="username" class="form-control"></div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <button type="submit" class="btn btn-green btn-block">Modificar</button>
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-general">
            <div id="sum_box" class="row mbl">
                <div class="col-sm-12 col-md-12">
                    <div class="portlet box">
                        <div class="portlet-header">
                            <div class="caption"><h4 class="box-heading">Novedades</h4></div>
                        </div>
                        <div class="portlet-body">
                            <div class="row mbl">
                                <div class="col-lg-12">
                                    <ul id="generalTab" class="nav nav-tabs responsive">
                                        <li class="active"><a href="#enero" data-toggle="tab">Enero</a></li>
                                        <li><a href="#febrero" data-toggle="tab">Febrero</a></li>
                                        <li><a href="#marzo" data-toggle="tab">Marzo</a></li>
                                        <li><a href="#abril" data-toggle="tab">Abril</a></li>
                                        <li><a href="#mayo" data-toggle="tab">Mayo</a></li>
                                        <li><a href="#junio" data-toggle="tab">Junio</a></li>
                                        <li><a href="#julio" data-toggle="tab">Julio</a></li>
                                        <li><a href="#agosto" data-toggle="tab">Agosto</a></li>
                                        <li><a href="#septiembre" data-toggle="tab">Septiembre</a></li>
                                        <li><a href="#octubre" data-toggle="tab">Octubre</a></li>
                                        <li><a href="#noviembre" data-toggle="tab">Noviembre</a></li>
                                        <li><a href="#diciembre" data-toggle="tab">Diciembre</a></li>
                                    </ul>
                                    <div id="generalTabContent" class="tab-content responsive">
                                        <div id="enero" class="tab-pane fade in active">
                                            <div class="row">
                                                <form action="#" class="form-horizontal">
                                                    <div class="col-lg-6">
                                                        <div class="form-group"><label class="col-sm-3 control-label">Película</label>
                                                            <div class="col-sm-9 controls">
                                                                <div class="row">
                                                                    <div class="col-xs-9"><input type="text" placeholder="Titulo" class="form-control"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"><label class="col-sm-3 control-label">Película</label>
                                                            <div class="col-sm-9 controls">
                                                                <div class="row">
                                                                    <div class="col-xs-9"><input type="text" placeholder="Titulo" class="form-control"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"><label class="col-sm-3 control-label">Película</label>
                                                            <div class="col-sm-9 controls">
                                                                <div class="row">
                                                                    <div class="col-xs-9"><input type="text" placeholder="Titulo" class="form-control"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group"><label class="col-sm-3 control-label">Película</label>
                                                            <div class="col-sm-9 controls">
                                                                <div class="row">
                                                                    <div class="col-xs-9"><input type="text" placeholder="Titulo" class="form-control"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"><label class="col-sm-3 control-label">Película</label>
                                                            <div class="col-sm-9 controls">
                                                                <div class="row">
                                                                    <div class="col-xs-9"><input type="text" placeholder="Titulo" class="form-control"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"><label class="col-sm-3 control-label">Película</label>
                                                            <div class="col-sm-9 controls">
                                                                <div class="row">
                                                                    <div class="col-xs-9"><input type="text" placeholder="Titulo" class="form-control"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-lg-offset-1 col-lg-10">
                                                        <button type="submit" class="btn btn-green btn-block">Modificar</button>
                                                    </div>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-general">
            <div id="sum_box" class="row mbl">
                <div class="col-sm-12 col-md-12">
                <div class="portlet box">
                <div class="portlet-body">
                  <nav role="navigation" class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                <a class="navbar-brand">Modificar lista recomendaciones </a></div>
                            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                </ul>
                                <form role="search" class="navbar-form navbar-left">
                                    <div class="form-group"><input type="text" placeholder="Nombre pelicula..." class="form-control"></div>
                                    &nbsp;
                                    <button type="submit" class="btn btn-green">Añadir</button>
                                </form>
                              </div>
                        </div>
                    </nav>
                    <div class="row">
                      <div class="col-lg-12">
                        <div style="overflow: hidden;" class="portlet-body">
                            <ul class="todo-list sortable">
                                <li *ngFor="#peliculas of peliculasLista" class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div classclass="todo-title">
                                      &nbsp;&nbsp;&nbsp;&nbsp;{{peliculas.hashtag}}</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                            </ul>
                          </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
