<div>
    <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
    <div id="header-topbar-option-demo" class="page-header-topbar">
        <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a id="logo" class="navbar-brand"><span class="fa fa-rocket"></span><span class="logo-text">FilmBook</span></a>
            </div>
            <div class="topbar-main">
                <a id="menu-toggle" href="#" class="hidden-xs"></a>
            </div>
        </nav>
    </div>
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Connecting Films</div>
        </div>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <div class="panel panel-grey">
                        <div class="panel-heading">
                            Registro</div>
                        <div class="panel-body pan">
                            <form action="#">
                                <div class="form-body pal">
                                    <div class="form-group">
                                        <div class="input-icon right">
                                            <i class="fa fa-user"></i>
                                            <input id="inputName" type="text" placeholder="Nombre de usuario" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-icon right">
                                            <i class="fa fa-envelope"></i>
                                            <input id="inputEmail" type="text" placeholder="Email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-icon right">
                                            <i class="fa fa-lock"></i>
                                            <input id="inputPassword" type="password" placeholder="Contraseña" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-icon right">
                                            <i class="fa fa-lock"></i>
                                            <input id="inputConfirmPassword" type="password" placeholder="Contraseña" class="form-control">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group mbn">
                                        <div class="col-md-offset-0 col-md-6">
                                        <div class="checkbox">
                                            <label>
                                            <input tabindex="5" type="checkbox" />&nbsp; Estoy de acuerdo con los terminos de uso</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="form-actions text-right pal">
                                    <button type="submit" class="btn btn-grey">
                                        Aceptar</button>
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
</div>
