<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Ficha película</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Ficha película</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Ficha película</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12 col-md-12">
                    <div class="portlet box">
                        <div class="portlet-header">
                          <div class="row">
                              <div class="col-lg-6">
                                  <h1 class="box-heading">{{fichapelicula.hashtag}}</h1>
                              </div>
                              <div class="col-lg-6">
                                  <div class="col-lg-6">
                                      <h1 align="center" class="box-heading">{{fichapelicula.valoracion}}/10</h1>
                                  </div>
                                  <div class="col-lg-6">
                                      <h2 align="center">{{fichapelicula.puntuacion}}k</h2>
                                      <button align="right" class="btn btn-yellow btn-block" (click)="like()"><span class="fa fa-plus-circle"></span>&nbsp; LIKE</button>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row mbl">
                            <div class="col-lg-4">
                                    <img align="center" src="images/novedades/altamira.jpg" height="250" class="img-responsive">
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <iframe width="600" height="360" src="{{fichabeta.trailer}}" frameborder="0" allowfullscreen=""></iframe>
                                    <h5>Etiquetas:</h5>
                                    <span class="badge badge-red">{{fichapelicula.etiqueta}}</span>
                                    <span class="badge badge-dark">{{fichapelicula.etiqueta}}</span>
                                    <span class="badge badge-grey">{{fichapelicula.etiqueta}}</span>
                                    <span class="badge badge-yellow">{{fichapelicula.etiqueta}}</span>
                                </div>
                            </div>
                                <div class="row mbl">
                                    <div class="col-lg-12">
                                    <div class="note note-info"><h5 class="box-heading">{{fichapelicula.decripcion}}</h5></div>
                                    <div class="note note-danger"><h5 class="box-heading">{{fichapelicula.vnegativa}}</h5>
                                        <p>{{fichapelicula.v.negautor}}</p></div>
                                        <div class="note note-success"><h5 class="box-heading">{{fichapelicula.vpositiva}}</h5>
                                        <p>{{fichapelicula.v.postautor}}</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="row mbl">
                    <div class="col-lg-9">
                        <div class="portlet box">
                            <div class="portlet-header">
                                <div class="caption">
                                    Comentarios</div>
                            </div>
                            <div class="portlet-body">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 270px;"><div class="chat-scroller" style="overflow: hidden; width: 100%; height: 270px;">
                                    <ul class="chats">
                                      <li class="in">
                                          <img src="{{fichabeta.comentario.usuario.foto}}" class="avatar img-responsive">
                                          <div class="message">
                                              <span class="chat-arrow"></span><a href="#" class="chat-name">{{fichapelicula.comentario.usuario.nombre}}</a>&nbsp;
                                              <span class="chat-datetime">{{fichapelicula.comentario.fecha}}</span><span class="chat-body">{{fichapelicula.comentario.texto}}</span>
                                          </div>
                                      </li>
                                      <li class="out">
                                          <img src="{{fichabeta.comentario.usuario.foto}}" class="avatar img-responsive">
                                          <div class="message">
                                              <span class="chat-arrow"></span><a href="#" class="chat-name">{{fichapelicula.comentario.usuario.nombre}}</a>&nbsp;
                                              <span class="chat-datetime">{{fichapelicula.comentario.fecha}}</span><span class="chat-body">{{fichapelicula.comentario.texto}}</span>
                                          </div>
                                      </li>
                                    </ul>
                                </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 124.615px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                                <div class="chat-form">
                                    <div class="input-group">
                                        <input id="input-chat" type="text" placeholder="Escribe tu opinión aquí..." class="form-control">
                                        <span id="btn-chat" class="input-group-btn">
                                            <button type="button" class="btn btn-green" (click)="enviar()"><i class="fa fa-check"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                                Valorar este título
                        </div>
                            <div class="panel-body pan">
                            <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                        </select>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-body pan">
                                <ul class="nav nav-pills nav-stacked">
                                    <a class="list-group-item active">Opciones</a>
                                    <li><a href="#"><i class="fa fa-star-o fa-fw mrs" ></i>Añadir a mi watchlist</a></li>
                                    <li><a href="#"><i class="fa fa-th-list fa-fw" ></i> Añadir a mi lista</a></li>
                                    <li><a href="#"><i class="fa fa-user mrs" ></i>Recomendar a</a></li>
                                </ul>
                            </div>
                        </div>
                            <div class="panel">
                            <div class="list-group">
                                <a class="list-group-item active">BSO</a>
                                <a class="list-group-item">
                                    <iframe width="25" height="25" src="{{fichpelicula.bso}}"frameborder="0" allowfullscreen=""></iframe>{{fichapelicula.nombrebso}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
