<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Timeline</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Timeline</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Timeline</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div id="sum_box" class="row mbl">
                <div class="col-sm-6 col-md-3">
                    <div class="panel profit db mbm">
                        <div class="panel-body">
                            <h4 class="value">
                                <span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0">
                                </span><span class="label label-red">#BradPitt</span></h4>
                                <br>
                            <p class="description">
                                New film</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="panel profit db mbm">
                        <div class="panel-body">
                            <h4 class="value">
                                <span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0">
                                </span><span class="label label-orange">#Quentin</span></h4>
                                <br>
                            <p class="description">
                                Spotlight no merecía el oscar</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="panel profit db mbm">
                        <div class="panel-body">
                            <h4 class="value">
                                <span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0">
                                </span><span class="label label-green">#BlackMirror</span></h4>
                                <br>
                            <p class="description">
                                White christmas</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="panel profit db mbm">
                        <div class="panel-body">
                            <h4 class="value">
                                <span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0">
                                </span><span class="label label-grey">#HouseOfCa</span></h4>
                                <br>
                            <p class="description">
                                Nuevo capitulo</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mbl">
              <div class="col-lg-12 col-md-12">
                <div class="portlet box">
                        <div class="portlet-header">
                            <div class="caption">
                                <a href="fichapelicula.html"><h1>#HatefulEight</h1></a></div>
                        </div>
                        <div class="portlet-body">
                          <div class="row mbl">
                            <div class="col-lg-5 col-md-5">
                              <iframe width="360" height="203" src="https://www.youtube.com/embed/gnRbXn4-Yis?autoplay=1&loop=1&rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                              <h5>Etiquetas:</h5>
                              <span class="badge badge-red">Western</span>
                              <span class="badge badge-dark">Comedia negra</span>
                              <span class="badge badge-grey">Intriga</span>
                              <span class="badge badge-yellow">Siglo XIX</span>
                            </div>
                            <div class="col-lg-7">
                                <div class="note note-danger"><h5 class="box-heading">"La película límite, contradictoria y extremadamente virtuosa de un director condenado a ser siempre él mismo. (...) una exhibición tan florida como irrenunciable; tan cargante como hipnótica (...) Tarantino más 'tarantinizado' que nunca."</h5>
                                    <p>Luis Martínez: Diario El Mundo</p></div>
                                    <div class="note note-success"><h5 class="box-heading">Sobredosis de Tarantino. Bendito banquete para unos, empacho casi letal para los otros. (...)</h5>
                                    <p>Diario La Vanguardia</p></div>
                              </div>
                          </div>
                        </div>
                   </div>
              </div>
            </div>
            <div class="row mbl">

                <div class="col-lg-8">
                    <div class="timeline-centered timeline-sm">
                        <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <time datetime="2014-01-10T03:45" class="timeline-time"><span>12:45 AM</span><span>Today</span></time>
                            <div class="timeline-icon bg-violet"><i class="fa fa-exclamation"></i></div>
                            <div class="timeline-label"><h4 class="timeline-title">Recomendación</h4>

                                <p><img src="http://lorempixel.com/45/45/nature/3/" alt="" class="timeline-img pull-left">JosicoMorenico te recomendó "El club de los poetas muertos"</p></div>
                        </div>
                    </article>
                        <article class="timeline-entry left-aligned">
                        <div class="timeline-entry-inner">
                            <time datetime="2014-01-10T03:45" class="timeline-time"><span>9:15 AM</span><span>Today</span></time>
                            <div class="timeline-icon bg-green"><i class="fa fa-group"></i></div>
                            <div class="timeline-label bg-green"><h4 class="timeline-title">Comentario</h4>

                                <p>Manolo comento star wars</p></div>
                        </div>
                    </article>
                        <article class="timeline-entry">
                        <div class="timeline-entry-inner">
                            <time datetime="2014-01-09T13:22" class="timeline-time"><span>8:20 PM</span><span>04/03/2013</span></time>
                            <div class="timeline-icon bg-orange"><i class="fa fa-paper-plane"></i></div>
                            <div class="timeline-label bg-orange"><h4 class="timeline-title">La chica danesa</h4>

                                <p><img src="http://lorempixel.com/45/45/nature/3/" alt="" class="timeline-img pull-left">Nueva película estrenada
                                "La chica Danesa" ya en cines, un drama de amor donde te verás en la piel de la protagonista</p></div>
                        </div>
                        <div class="timeline-entry-inner">
                            <div style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);" class="timeline-icon"><i class="fa fa-plus"></i></div>
                        </div>
                    </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portlet box">
                        <div class="portlet-header">
                            <div class="caption">
                                #BradPitt</div>
                        </div>
                        <div class="portlet-body">
                            <div class="chat-scroller">
                                <ul class="chats">
                                    <li class="in">
                                        <img src="images/avatar/48.jpg" class="avatar img-responsive" />
                                        <div class="message">
                                            <span class="chat-arrow"></span><a href="#" class="chat-name">PacoPolo</a>&nbsp;<span
                                                class="chat-datetime"> Julio 06, 2014 17:06</span><span class="chat-body">Me encanta como actua este tío
                                                espero que en la nueva película con Angelina salga igual</span></div>
                                    </li>
                                    <li class="out">
                                        <img src="images/avatar/48.jpg" class="avatar img-responsive" />
                                        <div class="message">
                                            <span class="chat-arrow"></span><a href="#" class="chat-name">PacoPolo</a>&nbsp;<span
                                                class="chat-datetime"> Julio 06, 2014 18:06</span><span class="chat-body">Una película con Angelina, aqui va a haber magreo</span></div>
                                    </li>
                                    <li class="in">
                                        <img src="images/avatar/48.jpg" class="avatar img-responsive" />
                                        <div class="message">
                                            <span class="chat-arrow"></span><a href="#" class="chat-name">PacoPolo</a>&nbsp;<span
                                                class="chat-datetime"> Julio 06, 2014 17:06</span><span class="chat-body">50.000$ se ha llevado por día de trabajo</span></div>
                                    </li>
                                    <li class="out">
                                        <img src="images/avatar/48.jpg" class="avatar img-responsive" />
                                        <div class="message">
                                            <span class="chat-arrow"></span><a href="#" class="chat-name">PacoPolo</a>&nbsp;<span
                                                class="chat-datetime"> Julio 06, 2014 17:06</span><span class="chat-body">Menudo pesetero</span></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="chat-form">
                                <div class="input-group">
                                    <input id="input-chat" type="text" placeholder="#BradPitt..." class="form-control" /><span
                                        id="btn-chat" class="input-group-btn">
                                        <button type="button" class="btn btn-green">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mbl">
                <div class="col-lg-8">
                    <div class="portlet box">
                        <div class="portlet-header">
                            <div class="caption">
                                Te recomiendan ver</div>
                        </div>
                        <div style="overflow: hidden;" class="portlet-body">
                            <ul class="todo-list sortable">
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value="" /></div>
                                    <div class="todo-title">
                                        Black Mirror</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value="" /></div>
                                    <div class="todo-title">
                                        El club de los poetas muertos</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value="" /></div>
                                    <div class="todo-title">
                                        Game of thrones</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value="" /></div>
                                    <div class="todo-title">
                                        Leon the professional</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portlet box">
                        <div class="portlet-header">
                            <div class="caption">
                                Watchlist</div>
                        </div>
                        <div style="overflow: hidden;" class="portlet-body">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 250px;">
                            <ul class="todo-list sortable">
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value="" /></div>
                                    <div class="todo-title">
                                        Requiem por un sueño</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-edit">
                                            <i class="fa fa-edit"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value="" /></div>
                                    <div class="todo-title">
                                        La cenicienta</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-edit">
                                            <i class="fa fa-edit"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value="" /></div>
                                    <div class="todo-title">
                                        El mago de Oz</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-edit">
                                            <i class="fa fa-edit"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value="" /></div>
                                    <div class="todo-title">
                                        Star wars</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-edit">
                                            <i class="fa fa-edit"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value="" /></div>
                                    <div class="todo-title">
                                        Star wars</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-edit">
                                            <i class="fa fa-edit"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value="" /></div>
                                    <div class="todo-title">
                                        Star wars</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-edit">
                                            <i class="fa fa-edit"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                <div class="portlet box">
                        <div class="portlet-body">
                          <nav role="navigation" class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                                        <a href="#" class="navbar-brand">Crear lista</a></div>
                                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                                        <ul class="nav navbar-nav">
                                        </ul>
                                        <form role="search" class="navbar-form navbar-left">
                                            <div class="form-group"><input type="text" placeholder="Nombre..." class="form-control"></div>
                                            &nbsp;
                                            <button type="submit" class="btn btn-green">Crear</button>
                                        </form>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Listas<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Acción</a></li>
                                                    <li><a href="#">Profundas</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <div class="row">
                    <div class="col-lg-12">
                    <div class="portlet box">
                        <div class="portlet-header">
                            <div class="caption">
                                <h2>Acción</h2></div>
                        </div>
                        <div style="overflow: hidden;" class="portlet-body">
                        <div class="panel panel-blue" style="background:#FFF;">
                <div class="panel-heading">Datos</div>
                <div class="panel-body">
                  <div class="row">
                  <div class="col-lg-3">Valoración:   <i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star fa-fw"></i></div>
                  <div class="col-lg-2">Votaciones: 14k5</div>
                  <div class="col-lg-7">Etiquetas: <span class="badge badge-dark">Comedia negra</span>
                              <span class="badge badge-grey">Intriga</span>
                              <span class="badge badge-yellow">Siglo XIX</span></div>
                  </div>
                </div>
                </div>
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 250px;">
                            <ul class="todo-list sortable ui-sortable">
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value=""></div>
                                    <div class="todo-title">
                                        Requiem por un sueño</div>
                                    <div class="todo-actions pull-right clearfix"><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value=""></div>
                                    <div class="todo-title">
                                        La cenicienta</div>
                                    <div class="todo-actions pull-right clearfix"><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value=""></div>
                                    <div class="todo-title">
                                        El mago de Oz</div>
                                    <div class="todo-actions pull-right clearfix"><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value=""></div>
                                    <div class="todo-title">
                                        Star wars</div>
                                    <div class="todo-actions pull-right clearfix"><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value=""></div>
                                    <div class="todo-title">
                                        Star wars</div>
                                    <div class="todo-actions pull-right clearfix"><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                                <li class="clearfix"><span class="drag-drop"><i></i></span>
                                    <div class="todo-check pull-left">
                                        <input type="checkbox" value=""></div>
                                    <div class="todo-title">
                                        Star wars</div>
                                    <div class="todo-actions pull-right clearfix">
                                        <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-edit">
                                            <i class="fa fa-edit"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                            </i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
                </div>
                        </div>
                   </div>
              </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
</div>
