<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Timeline</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a click="goToInicio()">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden">Timeline&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Timeline</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
          <div id="sum_box" class="row mbl">
            <div class="col-lg-12 col-md-12">
                <div *ngFor="#pelicula of fichapelicula" class="col-sm-6 col-md-4">
                  <div class="panel profit db mbm">
                        <div  class="panel-body">
                          <ul class="nav nav-tabs">
                              <li class="active">
                                  <a data-toggle="tab" [routerLink]="['Fichapelicula',{id:pelicula.id}]">
                                    <h3>{{pelicula.titulo}}</h3>
                                  </a>
                              </li>
                          </ul>
                          <p class="description" >{{pelicula.descripcion}}</p>
                        </div>
                  </div>
            </div>
          </div>
            <div *ngFor="#pelicula of fichapelicula" class="row mbl">
              <div class="col-lg-12 col-md-12">
                <div class="portlet box">
                        <div class="portlet-header">
                            <div class="caption">
                                <a [routerLink]="['Fichapelicula',{id:pelicula.id}]"><h1>{{pelicula.titulo}}</h1></a></div>
                        </div>
                        <div class="portlet-body">
                          <div class="row mbl">
                            <div class="col-lg-5 col-md-5">
                              <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="{{pelicula.trailer}}" allowfullscreen></iframe>
                              </div>
                              <h5>Etiquetas:</h5>
                                <span *ngFor="#etiquetas of pelicula.etiqueta" class="badge badge-red">{{etiquetas}}</span>
                              </div>
                            <div class="col-lg-7">
                                <div class="note note-danger"><h5 class="box-heading">{{pelicula.vnegativa}}</h5>
                                    <p>{{pelicula.vnegautor}}</p></div>
                                    <div class="note note-success"><h5 class="box-heading">{{pelicula.vpositiva}}</h5>
                                    <p>{{pelicula.vpostautor}}</p></div>
                              </div>
                          </div>
                        </div>
                   </div>
              </div>
            </div>
            <div class="row mbl">
              <div class="col-lg-8">
                  <div class="portlet box">
                      <div class="portlet-header">
                          <div class="caption">
                              Te recomiendan ver:</div>
                      </div>
                      <div style="overflow: hidden;" class="portlet-body">
                          <ul class="todo-list sortable">
                              <li *ngFor="#pelicula of recomendadas" class="clearfix"><span class="drag-drop"><i></i></span>
                                  <div class="todo-check pull-left">
                                  <div [routerLink]="['Fichapelicula',{id:pelicula.id}]" classclass="todo-title">
                                      {{pelicula.titulo}}</div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

                <div class="col-lg-4">
                    <div class="portlet box">
                        <div class="portlet-header">
                            <div class="caption">
                                {{fichapelicula.titulo}}</div>
                        </div>
                        <div class="portlet-body">
                            <div class="chat-scroller">
                                <ul class="chats">
                                    <li *ngFor="#comentarios of fichapelicula.comentario" class="in">
                                        <img src="{{comentarios.usuario.foto}}" class="avatar img-responsive">
                                        <div class="message">
                                            <span class="chat-arrow"></span><a [routerLink]="['Perfil',{nombre:comentarios.nombre}]" class="chat-name">{{comentarios.usuario.nombre}}</a>&nbsp;<span
                                            class="chat-datetime">{{comentarios.fecha}}</span><span class="chat-body">{{comentarios.texto}}</span></div>
                                    </li>

                                </ul>
                            </div>
                            <div class="chat-form">
                                <div class="input-group">
                                    <input id="input-chat" type="text" placeholder="Comenta..." class="form-control" /><span
                                        id="btn-chat" class="input-group-btn">
                                        <button type="button" class="btn btn-green">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!--END CONTENT-->
</div>
