<div id="page-wrapper">
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Explorar</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Explorar</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Explorar</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--Comienzo contenido-->
<div class="page-content">
    <div id="tab-general">
        <div class="row mbl">
            <div class="col-lg-12">
                <div class="col-md-12">
                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div id="grid-layout-table-1" class="box jplist">
                                        <div class="jplist-ios-button"><i class="fa fa-sort"></i>Lista</div>
                                        <div class="jplist-panel box panel-top">
                                            <button type="button" data-control-type="reset" data-control-name="reset" data-control-action="reset" class="jplist-reset-btn btn btn-default">Resetear<i class="fa fa-share mls"></i></button>
                                            <div data-control-type="drop-down" data-control-name="paging" data-control-action="paging" class="jplist-drop-down form-control">
                                                <ul class="dropdown-menu">
                                                    <li><span data-number="3"> 3 por página</span></li>
                                                    <li><span data-number="5"> 5 por página</span></li>
                                                    <li><span data-number="10" data-default="true"> 10 por página</span></li>
                                                    <li><span data-number="all"> Ver todo </span></li>
                                                </ul>
                                            </div>
                                            <div data-control-type="drop-down" data-control-name="sort" data-control-action="sort" data-datetime-format="{month}/{day}/{year}" class="jplist-drop-down form-control">
                                                <ul class="dropdown-menu">
                                                    <li><span data-path="default">Ordenar por: </span></li>
                                                    <li><span data-path=".title" data-order="asc" data-type="text" data-default="true">Título A-Z</span></li>
                                                    <li><span data-path=".title" data-order="desc" data-type="text">Título Z-A</span></li>
                                                    <li><span data-path=".desc" data-order="asc" data-type="text">Descripción A-Z</span></li>
                                                    <li><span data-path=".desc" data-order="desc" data-type="text">Descripción Z-A</span></li>
                                                    <li><span data-path=".date" data-order="asc" data-type="datetime">Fecha asc</span></li>
                                                    <li><span data-path=".date" data-order="desc" data-type="datetime">Fecha desc</span></li>
                                                </ul>
                                            </div>
                                            <div class="text-filter-box">
                                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                    <input data-path=".title" type="text" value="" placeholder="Buscar por título" data-control-type="textbox" data-control-name="title-filter" data-control-action="filter" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="text-filter-box">
                                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                    <input data-path=".desc" type="text" value="" placeholder="Buscar descrip." data-control-type="textbox" data-control-name="desc-filter" data-control-action="filter" class="form-control" />
                                                </div>
                                            </div>
                                            <div data-type="Página {current} de {pages}" data-control-type="pagination-info" data-control-name="paging" data-control-action="paging" class="jplist-label btn btn-default"></div>
                                            <div data-control-type="pagination" data-control-name="paging" data-control-action="paging" class="jplist-pagination"></div>
                                        </div>
                                        <div class="box text-shadow">
                                            <table *ngFor="#pelicula of explorar" class="demo-tbl">
                                              <tr class="tbl-item">
                                                  <!--<img/>-->
                                                  <td class="img"><img src="{{pelicula.peliculas.imagen}}}"/></td>
                                                  <!--<data>-->
                                                  <td class="td-block">
                                                      <p class="date">{{pelicula.fecha}}</p>
                                                      <p class="title"><a>{{pelicula.peliculas.titulo}}</a></p>
                                                      <p class="desc">{{pelicula.peliculas.descripcion}}</p>
                                                      <p class="like">{{pelicula.likes}}</p>
                                                  </td>
                                              </tr>
                                            </table>
                                        </div>
                                        <div class="box jplist-no-results text-shadow align-center">
                                            <p>No se encuentran resultados</p>
                                        </div>
                                        <div class="jplist-ios-button"><i class="fa fa-sort"></i>Lista</div>
                                        <div class="jplist-panel box panel-bottom">
                                            <div data-control-type="drop-down" data-control-name="paging" data-control-action="paging" data-control-animate-to-top="true" class="jplist-drop-down form-control">
                                                <ul class="dropdown-menu">
                                                    <li><span data-number="3"> 3 por página</span></li>
                                                    <li><span data-number="5"> 5 por página </span></li>
                                                    <li><span data-number="10" data-default="true"> 10 por página</span></li>
                                                    <li><span data-number="all"> Ver todo</span></li>
                                                </ul>
                                            </div>
                                            <div data-control-type="drop-down" data-control-name="sort" data-control-action="sort" data-control-animate-to-top="true" data-datetime-format="{month}/{day}/{year}" class="jplist-drop-down form-control">
                                                <ul class="dropdown-menu">
                                                    <li><span data-path="default">Ordenar por: </span></li>
                                                    <li><span data-path=".title" data-order="asc" data-type="text" data-default="true">Título A-Z</span></li>
                                                    <li><span data-path=".title" data-order="desc" data-type="text">Título Z-A</span></li>
                                                    <li><span data-path=".desc" data-order="asc" data-type="text">Descripción A-Z</span></li>
                                                    <li><span data-path=".desc" data-order="desc" data-type="text">Descripción Z-A</span></li>
                                                    <li><span data-path=".date" data-order="asc" data-type="datetime">Fecha asc</span></li>
                                                    <li><span data-path=".date" data-order="desc" data-type="datetime">Fecha desc</span></li>
                                                </ul>
                                            </div>
                                            <div data-type="{start} - {end} de {all}" data-control-type="pagination-info" data-control-name="paging" data-control-action="paging" class="jplist-label btn btn-default"></div>
                                            <div data-control-type="pagination" data-control-name="paging" data-control-action="paging" data-control-animate-to-top="true" class="jplist-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
