<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Perfil</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Perfil</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Perfil</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
              <div class="col-lg-8 col-md-8">
                <div class="portlet box">
                        <div class="portlet-body">
                          <div class="row">
                            <div class="col-lg-3 col-md-3">
                              <img src={{perfil.foto}} width="150" height="150">
                            </div>
                            <div class="col-lg-9">
                              <h2 class="box-heading">{{perfil.nombre}}</h2>
                              <div class="row">
                                <div class="col-lg-12">
                                  <h5 class="box-heading">{{perfil.frase}}</h5>
                                            <h1 class="box-heading">{{perfil.seguidores}}k</h1>
                                         </div>
                                    </div>
                            </div>
                            </div>
                          </div>
                          <div class="form-actions text-right pal">
                                <button  type="submit" class="btn btn-green" (click)="follow()">FOLLOW</button>
                            </div>
                        </div>
                   </div>
                   <div class="col-lg-4">
                    <div class="panel panel-yellow">
                      <div class="panel-heading"><h2 align="center" class="box-heading">REPUTACIÓN</h2></div>
                      <div class="panel-body pan">
                        <h1 align="center" class="box-heading">{{perfil.valoracion}}/10</h1>
                                <div class="row mbl">
                                    <div class="col-lg-offset-1 col-lg-10">
                                        <h5 class="box-heading">Votar</h5>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                        </select>
                                    </div>
                                </div>
                      </div>
                    </div>
                   </div>
              </div>
            </div>

            <div class="panel panel-red">
              <div class="panel-heading">
                  <div class="caption">
                      <a href="fichapelicula.html"><h1 class="box-heading">Recomiendo: {{recomendacion.pelicula.titulo}}</h1></a>
                  </div>
              </div>
              <div class="panel-body">
                <div class="row mbl">
                    <div class="col-lg-5 col-md-5">
                        <iframe width="360" height="203" src="{{recomendacion.pelicula.trailer}}" frameborder="0" allowfullscreen=""></iframe>
                        <h5>Etiquetas:</h5>
                        <span *ngFor="#etiquetas of recomendacion.pelicula.etiqueta" class="badge badge-yellow">{{etiquetas}}</span>
                    </div>
                    <div class="col-lg-7">
                            <div class="note note-success"><h5 class="box-heading">Lo bueno: </h5>
                            <p>recomendacion.comentariopositivo</p></div>
                            <div class="note note-danger"><h5 class="box-heading">Lo malo: </h5>
                                  <p>recomendacion.comentarionegativo</p></div>
                          <div class="rating">
                                <label for="quality-5">
                                      <i class="fa fa-star"></i>
                                </label>
                                <label for="quality-4">
                                    <i class="fa fa-star"></i>
                                </label>
                                <label for="quality-3">
                                    <i class="fa fa-star"></i>
                                </label>
                                <label for="quality-2">
                                    <i class="fa fa-star text-yellow"></i>
                                </label>
                                <label for="quality-1">
                                    <i class="fa fa-star text-yellow"></i>
                                </label>
                                {{usuario.nombre}} la valora con:
                            </div>
                      </div>
                </div>
              </div>
           </div>
            <div class="row mbl">
              <div class="col-lg-12">
                <div class="panel panel-green">
                        <div class="panel-heading">
                          <div class="row">
                          <div class="col-lg-8"> <h1 class="box-heading">Lista: {{listaTopDiez.nombre}}</h1></div>
                          <div class="col-lg-4"><h1 class="box-heading">{{listaTopDiez.seguidores}} Seguidores</h1></div>
                          </div>
                        </div>
                           <div class="row text-center divider">
                        <div class="panel-body">
                                <div class="row">
                                <div *ngFor="#lista of listaTopDiez.peliculas" class="col-lg-3 col-sm-6 col-md-3">
                                   <div class="caption"><h4>{{listaTopDiez.titulo}}</h4>
                                    <div class="thumbnail"><img src="{{listaTopDiez.imagen}}" heidth="100" width="150">
                                    </div>
                                    <p><a [routerLink]="['Fichapelicula', {id: peliculas.id}]" role="button" class="btn btn-primary">Ir a su ficha técnica</a>&nbsp;</p>
                                    </div>
                                </div>

                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-3">Valoración:   <i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star text-yellow fa-fw"></i><i class="fa fa-star fa-fw"></i></div>
                                        <div class="col-lg-2">Votaciones: {{listaTopDiez.votaciones}}</div>
                                        <div  class="col-lg-7">Etiquetas:
                                                        <span *ngFor="#etiqueta of listaTopDiez.etiquetas" class="badge badge-yellow">{{etiqueta}}</span></div>
                                    </div>
                          </div>
                        </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <h5 class="box-heading" align="center">Votar</h5>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                        </select>
                                        </div>
                                        <div class="col-lg-offset-4 col-lg-4">
                                        <h5 class="box-heading" align="center">Sigue la lista</h5>
                                            <button type="submit" class="btn btn-primary btn-block">
                                                    Seguir</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                  </div>
            </div>
            </div> <!--row-->
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="panel panel-grey">
                            <div class="panel-heading">
                                <div class="row">
                                <div class="col-lg-8"> <h3 class="box-heading">WatchList</h3></div>
                                </div>
                            </div>
                            <div style="overflow: hidden;" class="portlet-body">
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 250px;">
                                        <ul class="todo-list sortable">
                                              <li *ngFor="#peliculas of peliculasWlist" class="clearfix"><span class="drag-drop"><i></i></span>
                                                  <div class="todo-check pull-left">
                                                      <input type="checkbox" value="" /></div>
                                                  <div class="todo-title">
                                                      {{peliculas.titulo}}</div>
                                                  <div class="todo-actions pull-right clearfix">
                                                      <a href="#" class="todo-complete"><i class="fa fa-check"></i></a><a href="#" class="todo-edit">
                                                          <i class="fa fa-edit"></i></a><a href="#" class="todo-remove"><i class="fa fa-trash-o">
                                                          </i></a>
                                                  </div>
                                              </li>
                                          </ul>

                              </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
